In [61]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import edhec_risk_kit as erk
me_m=pd.read_csv('Portfolios_Formed_on_ME_monthly_EW.csv',
                      header=0, index_col=0,parse_dates=True, na_values=-99.99
                    )
rets = me_m[['Lo 20', 'Hi 20']]
rets = rets/100
rets = rets.loc['1999-1':'2016-1']
rets

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

         Lo 20   Hi 20
199901  0.1114  0.0153
199902 -0.0399 -0.0172
199903 -0.0308  0.0368
199904  0.0824  0.0679
199905  0.0435 -0.0048
...        ...     ...
201508 -0.0347 -0.0559
201509 -0.0610 -0.0333
201510  0.0385  0.0710
201511  0.0165  0.0015
201512 -0.0500 -0.0229

[204 rows x 2 columns]

In [62]:
erk.drawdown(rets["Lo 20"])["Drawdown"].min()

-0.6248092431236988

In [57]:
erk.drawdown(rets["Hi 20"])["Drawdown"].min()

-0.5527349978713653

In [63]:

erk.drawdown(rets["Lo 20"])["Drawdown"].idxmax()

199901

In [64]:
erk.drawdown(rets["Hi 20"])["Drawdown"].idxmax()

199901