In [39]:
import pandas as pd
import numpy as np
returns = pd.read_csv('Portfolios_Formed_on_ME_monthly_EW.csv',
                      header=0, index_col=0,parse_dates=True, na_values=-99.99
                    )
columns = ['Lo 20','Hi 20']
returns = returns[columns]
returns = returns/100
returns.head()

         Lo 20   Hi 20
192607 -0.0057  0.0333
192608  0.0384  0.0233
192609 -0.0048 -0.0009
192610 -0.0329 -0.0295
192611 -0.0055  0.0316

In [40]:
returns.std()

Lo 20    0.097197
Hi 20    0.056325
dtype: float64

In [41]:
annualized_vol = returns.std()*np.sqrt(12)
annualized_vol

Lo 20    0.336701
Hi 20    0.195116
dtype: float64

In [42]:
n_month = returns.shape[0]
return_per_month = (returns+1).prod()**(1/n_month)-1
return_per_month

Lo 20    0.011860
Hi 20    0.007859
dtype: float64

In [43]:
annualized_return = (returns+1).prod()**(12/n_month)-1
annualized_return

Lo 20    0.151977
Hi 20    0.098490
dtype: float64